## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file from Deliverable 1
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nyimba,ZM,-14.5566,30.8149,70.52,91,7,2.17,clear sky
1,1,Qaanaaq,GL,77.4840,-69.3632,-17.21,65,79,7.92,broken clouds
2,2,Nalut,LY,30.3333,10.8500,52.77,44,0,12.59,clear sky
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,78.80,73,0,20.71,clear sky
4,4,Guinayangan,PH,13.9006,122.4519,76.42,86,93,11.50,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,78.80,73,0,20.71,clear sky
4,4,Guinayangan,PH,13.9006,122.4519,76.42,86,93,11.50,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.87,69,92,12.80,overcast clouds
12,12,Pailitas,CO,8.9565,-73.6255,79.36,64,88,2.89,overcast clouds
13,13,Palembang,ID,-2.9167,104.7458,84.20,70,75,6.91,broken clouds
17,17,Busselton,AU,-33.6500,115.3333,75.99,42,1,15.90,clear sky
18,18,Avarua,CK,-21.2078,-159.7750,80.60,74,97,3.44,overcast clouds
25,25,Puerto Ayora,EC,-0.7393,-90.3518,75.99,95,39,1.01,scattered clouds
29,29,Atuona,PF,-9.8000,-139.0333,78.58,75,1,12.24,clear sky
31,31,Rawson,AR,-43.3002,-65.1023,85.17,17,0,17.56,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,78.80,73,0,20.71,clear sky
4,4,Guinayangan,PH,13.9006,122.4519,76.42,86,93,11.50,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.87,69,92,12.80,overcast clouds
12,12,Pailitas,CO,8.9565,-73.6255,79.36,64,88,2.89,overcast clouds
13,13,Palembang,ID,-2.9167,104.7458,84.20,70,75,6.91,broken clouds
17,17,Busselton,AU,-33.6500,115.3333,75.99,42,1,15.90,clear sky
18,18,Avarua,CK,-21.2078,-159.7750,80.60,74,97,3.44,overcast clouds
25,25,Puerto Ayora,EC,-0.7393,-90.3518,75.99,95,39,1.01,scattered clouds
29,29,Atuona,PF,-9.8000,-139.0333,78.58,75,1,12.24,clear sky
31,31,Rawson,AR,-43.3002,-65.1023,85.17,17,0,17.56,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,78.80,clear sky,-22.9661,-42.0278,
4,Guinayangan,PH,76.42,overcast clouds,13.9006,122.4519,
5,Rikitea,PF,78.87,overcast clouds,-23.1203,-134.9692,
12,Pailitas,CO,79.36,overcast clouds,8.9565,-73.6255,
13,Palembang,ID,84.20,broken clouds,-2.9167,104.7458,
17,Busselton,AU,75.99,clear sky,-33.6500,115.3333,
18,Avarua,CK,80.60,overcast clouds,-21.2078,-159.7750,
25,Puerto Ayora,EC,75.99,scattered clouds,-0.7393,-90.3518,
29,Atuona,PF,78.58,clear sky,-9.8000,-139.0333,
31,Rawson,AR,85.17,clear sky,-43.3002,-65.1023,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = pd.DataFrame(hotel_df)
#clean_hotel_df.isna().sum()
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,78.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,Guinayangan,PH,76.42,overcast clouds,13.9006,122.4519,Bahay Ni Sofia
5,Rikitea,PF,78.87,overcast clouds,-23.1203,-134.9692,Pension Maro'i
12,Pailitas,CO,79.36,overcast clouds,8.9565,-73.6255,HOTEL JECENTER
13,Palembang,ID,84.20,broken clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
17,Busselton,AU,75.99,clear sky,-33.6500,115.3333,Observatory Guest House
18,Avarua,CK,80.60,overcast clouds,-21.2078,-159.7750,Paradise Inn
25,Puerto Ayora,EC,75.99,scattered clouds,-0.7393,-90.3518,Castillo Galapagos
29,Atuona,PF,78.58,clear sky,-9.8000,-139.0333,Villa Enata
31,Rawson,AR,85.17,clear sky,-43.3002,-65.1023,Hosteria Sampedro

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))